<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Marc's Patient Management</title>

    <!-- Bootstrap CSS -->
    <link href="~/Content/CSS/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">

    <!-- Site CSS -->
    <link href="@Url.Content("~/Content/CSS/site/Site.css")" rel="stylesheet" />
    @RenderSection("Styles", required: false)

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
</head>

<body>
    <div class="sidebar">

        <div class="logo" style="display: flex; align-items: center; gap: 10px; padding-left: 5px;">
            <img src="~/Content/Images/h2.png" alt="Logo" style="height:50px; width:auto;" />
            <div class="logo-text">
                <span class="final">FINAL</span>
                <span class="assessment">ASSESSMENT</span>
            </div>

        </div>

        <div class="divider"></div>

        <!-- Medication -->
        <a href="@Url.Action("Index", "Medication", new { area = "Medication" })"
           class="nav-link @(ViewBag.ActiveTab == "Medication" ? "active" : "")">
            <i class="fas fa-pills"></i> <span>Medication</span>
        </a>

        <!-- View on GitHub -->
        <a href="https://github.com/Marc-Andrei-Santos/MarcPatientManagement.git" class="github-link"
           target="_blank" rel="noopener noreferrer">
            <i class="fab fa-github"></i>
            <span>View on GitHub</span>
        </a>
    </div>

    <div class="main-content">
        @RenderBody()
        <hr />
    </div>

    @Html.Partial("_Toast")

    <script src="~/Scripts/lib/jquery-3.7.0.js"></script>
    <script src="~/Scripts/lib/jquery.validate.js"></script>
    <script src="~/Scripts/lib/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/lib/bootstrap.js"></script>

    <script>
        window.Messages =
        {
            DuplicateRecord: '@Html.Raw(HttpUtility.JavaScriptStringEncode(UL.MessageUtil.DuplicateRecord))',
            RecordAlreadyExists: '@Html.Raw(HttpUtility.JavaScriptStringEncode(UL.MessageUtil.RecordAlreadyExists))',
            NoChanges: '@Html.Raw(HttpUtility.JavaScriptStringEncode(UL.MessageUtil.NoChanges))',
            InvalidPatient: '@Html.Raw(HttpUtility.JavaScriptStringEncode(UL.MessageUtil.InvalidPatient))',
            InvalidDrug: '@Html.Raw(HttpUtility.JavaScriptStringEncode(UL.MessageUtil.InvalidDrug))',
            InvalidDosage: '@Html.Raw(HttpUtility.JavaScriptStringEncode(UL.MessageUtil.InvalidDosage))',
            AllFieldsRequired: '@Html.Raw(HttpUtility.JavaScriptStringEncode(UL.MessageUtil.AllFieldsRequired))'
        };
    </script>

    <script src="~/Scripts/Page/Medication/Toast.js"></script>

    @RenderSection("scripts", required: false)

</body>
</html>
